* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    perspective: 1000px;
    height: 100vh;
}

nav {
    box-shadow: 0px 1px 5px black ;
}

.razer-blade-bg {
    transform-style: preserve-3d;
    border-radius: 50%;
    background-size: 600% 100%;
    border: 4px solid transparent;
    border-image: linear-gradient(45deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);;
    border-image-slice: 1;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    margin-left: auto;
}

@keyframes gradient {
    0% {
        border-position: 0%;
    }
    100% {
        border-position: 100%;
    }
}

